*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3ecf5; /* Fondo claro para la página */
    font-family: 'Poppins', sans-serif;
    color: #333333; /* Color de texto oscuro para buena legibilidad */
    margin-top: 80px; /* Para que la navbar fija no tape contenido */
    background-size: cover;
    background-attachment: scroll; /* La imagen se desplaza con el contenido */
}
.container{
	display: flex;
	justify-content: start;
}
/* Navbar */
.navbar {
    background-color: #ffffff !important; /* Fondo blanco para la navbar */
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    font-size: 20px;
    color: #000000 !important; /* Color de texto oscuro para los enlaces */
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: rgb(255, 0, 195) !important; /* Color de texto al pasar el mouse */
}
.perfil-icon {
    margin-left: 20px; /* Espacio a la izquierda del icono */
}

.perfil-icon .dropdown-menu {
    background-color: #000000; /* Color de fondo del menú */
    border: none;
    min-width: 150px; 
    text-align: center;
}

.perfil-icon .dropdown-item {
    color: #333; /* Color del texto */
    transition: background 0.3s ease-in-out;
}

.perfil-icon .dropdown-item:hover {
    background-color: rgb(255, 0, 195); /* Color de fondo al pasar el mouse */
    color: rgb(255, 0, 195);
}


.titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.title {
	font-size: 35px;
	color: #fc3294;
	font-family: Arial, Helvetica, sans-serif;
}

.titulo h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px black ;
    color: white;
    font-size: 50px;
}
.titulo p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 20px;
    width: 54%;
    text-align: center;
}

.fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/montaña.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}




/* formu */

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.containerr{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #fc3294;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #fc3294;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #fc3294;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn1{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #ffffff;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fc3294;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    border: #d2116e 1px solid;
}
.btn:hover{
    background-color: #d2116e;
	background-position: right;
}
.boton{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #ffffff;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fc3294;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    border: #d2116e 1px solid;
}
.boton:hover{
	color: white;
    background-color: #d2116e;
	background-position: right;
}
.btn1:hover{
    color: #ffffff;
    background-color: #d2116e;
	background-position: right;
}




@media screen and (max-width: 1050px){
	.containerr{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.containerr{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}



/* Footer */
.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    max-width: 300px;
    margin: 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: hotpink;
}

.footer-column p, .footer-column ul, .footer-column li {
    font-size: 16px;
    color: #000000;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #000000;
    text-decoration: none;
}

.footer-column a:hover {
    color: hotpink;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
