*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3ecf5; /* Fondo claro para la página */
    font-family: 'Poppins', sans-serif;
    color: #333333; /* Color de texto oscuro para buena legibilidad */
    margin-top: 80px; /* Para que la navbar fija no tape contenido */
    background-size: cover;
    background-attachment: scroll; /* La imagen se desplaza con el contenido */
}

/* Navbar */
.navbar {
    background-color: #ffffff !important; /* Fondo blanco para la navbar */
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    padding: 25px;
    font-size: 20px;
    color: #000000 !important; /* Color de texto oscuro para los enlaces */
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: rgb(255, 0, 195) !important; /* Color de texto al pasar el mouse */
}
.perfil-icon {
    margin-left: 20px; /* Espacio a la izquierda del icono */
}

.perfil-icon .dropdown-menu {
    background-color: #000000; /* Color de fondo del menú */
    border: none;
    min-width: 150px; 
    text-align: center;
}

.perfil-icon .dropdown-item {
    color: #333; /* Color del texto */
    transition: background 0.3s ease-in-out;
}

.perfil-icon .dropdown-item:hover {
    background-color: rgb(255, 0, 195); /* Color de fondo al pasar el mouse */
    color: black;
}



