*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsla(0, 0%, 100%, 1);
    background-image: radial-gradient(circle at 32% 16%, hsla(14.000000000000004, 100%, 64%, 0.33) 17.647148063137625%, transparent 61.5109675345299%), radial-gradient(circle at 75% 1%, hsla(247.99999999999997, 100%, 63%, 0.3) 11.26645584295136%, transparent 63.69587993071477%);
    background-blend-mode: multiply, multiply;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
}

.text{
    color: rgb(255, 0, 195);
}

/* Navbar */
.navbar {
    border-radius: 0 0 30px 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    font-size: 20px;
    color: #000000 !important; /* Color de texto oscuro para los enlaces */
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: rgb(255, 0, 195) !important; /* Color de texto al pasar el mouse */
}
.perfil-icon {
    margin-left: 20px; /* Espacio a la izquierda del icono */
}

.perfil-icon .dropdown-menu {
    background-color: #000000; /* Color de fondo del menú */
    border: none;
    min-width: 150px; 
    text-align: center;
}

.perfil-icon .dropdown-item {
    color: #333; /* Color del texto */
    transition: background 0.3s ease-in-out;
}

.perfil-icon .dropdown-item:hover {
    background-color: rgb(255, 0, 195); /* Color de fondo al pasar el mouse */
    color: black;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

}

.center{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    
}


.accordion-body img{
    width: 100%;
}

.t{
    width: 900px;
    margin-top: 50px;
}

h1, h2, h3 {
    color: #5e5e5e;
}

.manual-section {
    margin-bottom: 30px;
}

.manual-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.accordion-button {
    background-color: #000000;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #0056b3;
}

.accordion-body {
    background-color: #f9f9f9;
}


.titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.titulo h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgb(255, 255, 255) ;
    color: rgb(255, 0, 195);
    font-size: 50px;
}
.titulo p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    width: 54%;
    text-align: center;
}

.fondo{

    height: 50vh;
}


/* Footer */
.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    max-width: 300px;
    margin: 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: hotpink;
}

.footer-column p, .footer-column ul, .footer-column li {
    font-size: 16px;
    color: #000000;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #000000;
    text-decoration: none;
}

.footer-column a:hover {
    color: hotpink;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

